.main-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    color: var(--color-text);
    text-align: center;
    max-width: 64%;
    width: 900px;

    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    flex: 1;
    gap: 20px;
}

