#menu-toggle {
    display: none; /* oculto por defecto */
    position: fixed;
    top: 70px;
    right: 10px;
    font-size: 2rem;
    background: var(--color-background);
    color: var(--color-text);
    border: 1px solid #ccc;
    z-index: 10000;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    transition: transform 0.3s ease;
}

#menu-toggle .icon {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: center;
}

#menu-toggle.open .icon {
    transform: rotate(180deg);
}

.page-toc {
    position: fixed;
    top: 70px;
    right: 10px;
    background: var(--color-background);
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 250px;
    font-size: 0.9rem;
    z-index: 9999;
    transition: transform 0.3s ease, opacity 0.3s ease;

}

.side-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page-toc a {
    color: var(--color-text);
    text-decoration: none;
}

.page-toc a:hover {
    color: var(--color-text-hover);
    text-shadow: #868288 0 0 10px;
}


@media (max-width: 1200px) {
    #menu-toggle {
        display: block; /* botón visible */
    }

    .page-toc {
        transform: translateX(100%); /* fuera de la pantalla */
        opacity: 0;
        pointer-events: none; /* no clicable */
        top: 130px;
        right: 10px;
    }

    .page-toc.open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;

    }
}