.top-menu-bar {
    width: 100%;
    height: var(--height-top-menu);
    background-color: #d6d6d6;
    color: black;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center; /* centra la barra de elementos */
    align-items: center;

    z-index: 99;
}

.top-menu-bar-elements {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    font-size: 1.4rem;
    text-transform: uppercase;
}

.top-menu-bar-element {
    padding: 0.2rem 0.4rem;
    background-color: #fbfbfb;
    border-radius: 5px;
}