body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 0; /* put content on top */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1; /* behind content */
}

body.helldiver-background {
    --bg-image: url('../assets/imgs/background/background-desktop.jpg');
}

@media (max-width: 800px) {
    body.helldiver-background {
        --bg-image: url('../assets/imgs/background/background-mobile.jpg');
    }
}